<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Mudi</title>
</head>
	<body>
		<div th:each="pedido : ${pedidos}">
			<div th:text="${pedido.nomeProduto}">Nome do produto</div>
			<div>Valor: <span th:text="${pedido.valorNegociado}">200,99</span></div>
			<div>Data da entrega: <span th:text="${pedido.dataDaEntrega}">10/09/2020</span></div>
			
			<div>Produto</div>
			<div><input th:value="${pedido.urlProduto}" value="url do produto"></div>
			
			<div>Descricao</div>
			<div>
				<textarea th:text="${pedido.descricao}">descicrao do pedido</textarea>
			</div>
			
			<div>
				<img th:src="${pedido.urlImagem}" src=""/>
			</div>
		</div>
	</body>
</html>