<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Mudi</title>
</head>
	<body>
		<div class="container">
			<div class="card" th:each="pedido : ${pedidos}">
				<div th:text="${pedido.nomeProduto}" class="card-header">Nome do produto</div>
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-sm-8 mb-3">
							<div class="row">
								<div class="col-md-5">Valor: <span th:text="${pedido.valorNegociado}">200,99</span></div>
								<div class="col-md-7">Data da entrega: <span th:text="${pedido.dataDaEntrega}">10/09/2020</span></div>
							</div>
							<div>Produto</div>
							<div><input th:value="${pedido.urlProduto}" class="form-control" value="url do produto"></div>
							
							<div>Descricao</div>
							<div>
								<textarea th:text="${pedido.descricao}" class="form-control">descicrao do pedido</textarea>
							</div>
						</div>
						<div class="col-12 col-sm-4" >
							<div>
								<img class="img-thumbnail"  th:src="${pedido.urlImagem}" src=""/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>